ul.nav a:hover { font-weight: bolder
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 0px; /* bottom = footer height */
    padding: 0px;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 140px;
    width: 100%;
    overflow:hidden;
    text-align: center;
    margin: 0 0 0px; /* bottom = footer height */
    padding: 0px;
}

